.git
.github
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.py[cod]

.env
.env.*
!.env.example

venv
.venv
env

logs
*.log

*.db
*.db-shm
*.db-wal
*.sqlite3

tests
docs

.idea
.vscode

dist
build
*.egg-info
